{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"prettier"
	],
	"plugins": [
		"check-file"
	],
	"rules": {
		"check-file/filename-naming-convention": [
			"error",
			{
				"**/*.{ts,tsx,js,jsx}": "PASCAL_CASE"
			},
			{
				"ignoreMiddleExtensions": true
			}
		]
	}
}